@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */
*{
  margin:0;
  padding:0;
  list-style-type:none;
}
body{
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */
.Navigation{
  height:100px;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top:0;
}
/* Navigation___Spacing */
.Navigation{
  display: flex;
  justify-content: space-between;
  padding:0px 50px;
}
/* Logo */
.LinkLogo img{
  height:70px;
  padding-top:15px;
}
/* MenuLink */
.MenuLink{
  text-decoration: none;
  color:#034ea2;
  font-size:16px;
  font-weight:600;
  letter-spacing:.5px;
}
.MenuLink:hover{
  color: #034da2c0;
}
/* NavigationUL */
.NavigationUL{
  height:100%;
  display: flex;
  width:700px;
  align-items: center;
  justify-content: center;
}
.NavigationUL li{
margin: 0px 20px;
}
/* CTA_BTN */
.CTA-BTN_NAV{
  padding: 10px 20px;
  background-color: #034ea2;
  color: #fff;
  border-radius:3px;
  transition:.5s;
  border: 1px solid transparent;
}
.CTA-BTN_NAV:hover{
  background-color: #ffff;
  color: #034ea2;
  border: 1px solid #034ea2;
  transition:.5s;
}
/* CTA */
.CTA{
  height:600px;
  background: url('./Images/BG\ CTA.jpg');
  background-position: center;
  background-size: cover;
}
.CTA_Wrap{
  height:100%;
  background-color: #034da2b0;
}
.CTA_Text{
  color: #fff;
  padding:220px 0px 0px 50px;
}
.CTA_Title{
  font-size:30px;
  letter-spacing:.5px;
  margin-bottom:40px;
}
.CTA_BTN_IN{
  background-color: #fff;
  color: #034ea2;
  padding: 10px 20px;
  border-radius:3px;
  text-decoration: none;
  font-weight: 600;
  border:1px solid transparent;
  transition:.5s;
}
.CTA_BTN_IN:hover{
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition:.5s;
}
/* Services */
.Services{
  height:500px;
  background-color: #fff;
  margin: -100px 30px 0px 30px;
  border-radius:5px;
}
/* Section_Title */
.Section_Title{
  font-size:30px;
  text-align: center;
  padding: 70px 0px;
  color: #034ea2;
  font-weight:600;
  letter-spacing:.5px;
}