@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin:0;
  padding:0;
  list-style-type:none;
}
body{
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */
.Navigation{
  height:100px;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top:0;
  z-index:99999999999999999999999999999999999999999999999999999;
}
/* Navigation___Spacing */
.Navigation{
  display: flex;
  justify-content: space-between;
  padding:0px 50px;
}
/* Logo */
.LinkLogo img{
  height:70px;
  padding-top:15px;
}
/* MenuLink */
.MenuLink{
  text-decoration: none;
  color:#034ea2;
  font-size:16px;
  font-weight:600;
  letter-spacing:.5px;
}
.MenuLink:hover{
  color: #034da2c0;
}
/* NavigationUL */
.NavigationUL{
  height:100%;
  display: flex;
  width:700px;
  align-items: center;
  justify-content: center;
}
.NavigationUL li{
margin: 0px 20px;
}
/* CTA_BTN */
.CTA-BTN_NAV{
  padding: 10px 20px;
  background-color: #034ea2;
  color: #fff;
  border-radius:3px;
  transition:.5s;
  border: 1px solid transparent;
}
.CTA-BTN_NAV:hover{
  background-color: #ffff;
  color: #034ea2;
  border: 1px solid #034ea2;
  transition:.5s;
}
/* CTA */
.CTA{
  height:600px;
  background: url('./Images/BG\ CTA.jpg');
  background-position: center;
  background-size: cover;
}
.CTA_Wrap{
  height:100%;
  background-color: #034da2b0;
}
.CTA_Text{
  color: #fff;
  padding:220px 0px 0px 50px;
}
.CTA_Title{
  font-size:30px;
  letter-spacing:.5px;
  margin-bottom:40px;
}
.CTA_BTN_IN{
  background-color: #fff;
  color: #034ea2;
  padding: 10px 20px;
  border-radius:3px;
  text-decoration: none;
  font-weight: 600;
  border:1px solid transparent;
  transition:.5s;
}
.CTA_BTN_IN:hover{
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transition:.5s;
}
/* Services */
.Services{
  height:500px;
  background-color: #fff;
  margin: -100px 40px 0px 40px;
  border-radius:5px;
  text-align: center;
  padding:0px 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* Section_Title */
.Section_Title{
  font-size:30px;
  padding: 70px 0px;
  color: #034ea2;
  font-weight:600;
  letter-spacing:.5px;
}
.ServiceCard{
  display: inline-block;
  height:200px;
  width:300px;
  margin:30px 30px; 
  border-radius:5px;
  text-decoration: none;
  transition:.5s;
}
.ServiceCard:hover{
  transform:scale(1.01);
  transition:.5s;
}
.ServiceName{
  font-size:15px;
  letter-spacing:.5px;
  text-transform:capitalize;
  padding:15px 0px;
  color: #fff;
  background-color: #034ea2;
  margin:60% 10px 0px 10px;
  border-radius:3px;
}
/* ServiceCard */
.Service_1{
  background: url('./Images/Service_1.jpg');
  background-position: center;
  background-size: cover;
}
.Service_2{
  background: url('./Images/Service_2.jpg');
  background-position: center;
  background-size: cover;
}
.Service_3{
  background: url('./Images/Service_3.jpg');
  background-position: center;
  background-size: cover;
}
.Service_4{
  background: url('./Images/Service_4.jpg');
  background-position: center;
  background-size: cover;
}
.Service_5{
  background: url('./Images/Service_5.jpg');
  background-position: center;
  background-size: cover;
}
.Service_6{
  background: url('./Images/Service_6.jpg');
  background-position: center;
  background-size: cover;
}
.Service_7{
  background: url('./Images/Service_7.jpg');
  background-position: center;
  background-size: cover;
}
.Service_8{
  background: url('./Images/Service_8.jpg');
  background-position: center;
  background-size: cover;
}
.Service_9{
  background: url('./Images/Service_9.jpg');
  background-position: center;
  background-size: cover;
}
.Service_10{
  background: url('./Images/Service_10.jpg');
  background-position: center;
  background-size: cover;
}
.Service_11{
  background: url('./Images/Service_11.jpg');
  background-position: center;
  background-size: cover;
}
.Service_12{
  background: url('./Images/Service_12.jpg');
  background-position: center;
  background-size: cover;
}
.Service_13{
  background: url('./Images/Service_13.jpg');
  background-position: center;
  background-size: cover;
}
.Service_14{
  background: url('./Images/Service_14.jpg');
  background-position: center;
  background-size: cover;
}
.Service_15{
  background: url('./Images/Service_15.jpg');
  background-position: center;
  background-size: cover;
}
/* Recent */
.Recent{
  background-color: #034ea2;
  color: #fff !important;
  text-align: center;
  padding: 0px 0px 50px 0px;
}
.RecentCard{
display: inline-block;
height:200px;
width:330px;
margin:30px 15px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
border-radius:5px;
text-decoration: none;
transition:.5s;
}
.RecentCard:hover {
transition:.5s;
transform: scale(1.03);
}
.RC_1{
  background:url('./Images/Recent_1.jpg');
}
.RC_2{
  background:url('./Images/Recent_2.jpg');
}
.RC_3{
  background:url('./Images/Recent_3.jpg');
}
.RC_4{
  background:url('./Images/Recent_4.jpg');
}
.RecentWorkName
{
  background-color: #fff;
  margin-top:50%;
  font-size:16px;
  padding:10px 0px;
  font-weight: 600;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
